body {
    font-family: var(--font-main);
}

header {
    background: linear-gradient(rgba(37, 36, 34, 0.4), rgba(37, 36, 34, 0.6)), url(background_pic.jpg) center/cover;
    text-align: center;
    color: whitesmoke;
    padding: 5em 2em 4em;
    transition: background 1s;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    box-shadow: 0 2px 12px whitesmoke;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 1em 0;
}

.navbar a {
    margin: 0 2em;
    text-decoration: none;
    color: rgba(154, 154, 154);
    font-weight: 600;
    font-family: var(--font-sec);
    transition: color 0.3s;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 3em;
    margin: 0.5em 0;
    font-family: var(--font-main);
}

h2 {
    font-size: 2em;
    margin-bottom: 0.6em;
}

.cta {
    background: #454b57;
    color: whitesmoke;
    padding: 1em 2.5em;
    border-radius: 32px;
    border: none;
    font-weight: bolder;
    box-shadow: 0 6px 24px rgb(74, 74, 74);
    transition: background 1s, box-shadow 1s;
}

.cta:hover {
    background: rgb(63, 61, 72);
    box-shadow: 0 12px 48px rgba(154, 154, 154, 0.595);
    color: rgb(198, 198, 198);
    transition: color 1s, background 1s;
}

.section {
    max-width: 1000px;
    margin: 2em auto;
    padding: 2em;
    border-radius: 14px;
    box-shadow: 0 2px 12px #eee;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 2em;
}

.menu-item {
    padding: 1em;
    box-shadow: 0 1px 6px #eaeaea;
    border-radius: 10px;
    background: #fcfbfa;
}

.menu-item:hover {
    background: #f9f9f6;
    transform: translateY(-3px);
    box-shadow: 0 4px 18px #6d6d6dba;
}

.testimonial {
    font-style: italic;
    margin: 1em 0;
    font-weight: bold;
}

footer {
    background: black;
    color: whitesmoke;
    text-align: center;
    padding: 2em 1em;
}